*\pom.properties

src/main/java/utility/SQLInfo.java
src/main/java/utility/SQLInfo.class


gameRec/src/node_modules


src/main/webapp/gameRec/*
!src/main/webapp/gameRec/src/

src/main/webapp/gameRec/node_modules
target/*




/target/
