<form id = "register_game">
<button (click)="goHome()">Return Home</button>

 <form id = "register_game"> 
    Name of Game:<br>
    <input type = "text" name="game_name" [(ngModel)]="videoGame.name"><br>
    Platform:<br>
    <select name="console" [(ngModel)]="videoGame.platform" >
        <option value="PC">PC</option> --><br>
        <!-- Add the rest of platforms after succesful PC implementation -->
    </select><br>
    <button type="button" (click)="like()">Like</button>
    <button type="button" (click)="dislike()">Dislike</button><br><br>
    <button type="button" (click)="RegisterGame()" >Register</button>
    <div id="error-message">
    </div>
</form>
