<form id = "register_game">
    Name of Game:<br>
    <input type = "text" name="game_name" [(ngModel)]="videoGameName" ><br>
    Platform:<br>
    <select [(ngModel)]="Platform" >
        <option value="PC">PC</option>
        <!-- Add the rest of platforms after succesful PC implementation -->
    </select>
    Do you own this game?:<br>
    <button type="button" value="Like" [(ngModel)]="likeDislike">Like</button>
    <button type="button" value="Dislike" [(ngModel)]="likeDislike">Dislike</button>
    <button type="button" (submit)="RegisterGame()" >Register</button>
    <div id="error-message">
    </div>
</form>
